/*------------------------------------------------------------
btn
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-btn1{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #AFAFAF;
	color: #fff;
	font-weight: bold;
	font-size: 1.511rem;
	height: 50px;
	line-height: 50px;
	padding-left: 54.82px;
	padding-right: 54.82px;
}
.c-btnvmore{
	margin-top: 58px;
    border: 2px solid #000;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    color: #fff;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-left: 95.5px;
    height: 65px;
    line-height: 65px;
    padding-right: 95.5px;
	@include border-tltb-radius(5px,5px,5px,5px);
	&--bckYellow{
		background-color: $color-yellow1;
	}
	&--bckOrange{
		background-color: $color-orange;
	}
	&--bckBlue{
		background-color: $color-blue;
	}
}
/*-----------------*/
.l-btn{
	&--center{
		text-align: center;
	}
	&--right{
		text-align: right;
	}
	&--left{
		text-align: left;
	}
	&--full{
		.c-btnvmore{
			display: block;
			width: 100%
		}
	}
}
