//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// breakpoint
//============================================
@mixin breakpoint($point) {
	@if $point == tablets {
		@media only screen and (max-width: 1024) { @content ; }
	}
	@else if $point == sp {
		@media only screen and (max-width: 767px) { @content ; }
	}
}

@mixin  border-tlbr($a,$b,$c,$d,$color){
	border-top: $a solid $color;
	border-bottom: $c solid $color;
	border-left: $b solid $color;
	border-right: $c solid $color;
}           
@mixin  bordLeft-color($c,$color){
	border-left: $c solid $color;
	color: $color;
}
@mixin  border-tltb-radius($a,$b,$c,$d){
	border-top-left-radius: $a;
	border-top-right-radius: $b;
	border-bottom-left-radius: $c;
	border-bottom-right-radius: $d;
}
@mixin  background-color($a){
	@if $a == green{
		background-color: $color-green;
	}
	@else if $a == pink{
		background-color: $color-pink1; //h
	}
	@else if $a == yellow{
		background-color: $color-yellow2; //v2
	}
	@else {
		background-color: #fff; //v2
	}

}
@mixin  display-flex($a,$b){
	margin-left: $a;
	margin-right: $b;
	display: flex;
	flex-wrap: wrap;
}
