///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------
.u-mt30{
	margin-top: 30px;
}
.u-mt50{
	margin-top: 50px;
}
//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-blue{
	color: #1F53FA;
	font-size: 1.4rem;
	padding-bottom: 0;
	position: relative;
	&:before{
		content: ' ';
		width: 100%;
		height: 1px;
		background-color: #1f53faa6;
		display: block;
		position: absolute;
		bottom: 2px;
		left: 0;
		box-shadow: 0px 1px 1px #1f53fa78;
	}
}
.u-red{
	color: #FF0000;
	font-size: 1.4rem;
	padding-bottom: 0;
	position: relative;
	&:before{
		content: ' ';
		width: 100%;
		height: 1px;
		background-color: #FF0000;
		display: block;
		position: absolute;
		bottom: 2px;
		left: 0;
	}
}
.u-orange{
	color: #FF9C00;
	font-size: 1.4rem;
	padding-bottom: 0;
	position: relative;
	&:before{
		content: ' ';
		width: 100%;
		height: 1px;
		background-color: #FFD1A3;
		display: block;
		position: absolute;
		bottom: 2px;
		left: 0;
		box-shadow: 0px 1px 1px #FFE9D4;
	}
}