//baseWidth
$baseWidth:1000px;

$mainFonts : "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$color-red: red;
//v
$color-yellow1: #FFD800; 
$color-yellow2:#FFF799;
$color-yellow3:#FFF9DA; 
//h 
$color-pink1: #FFDFDF;
 
//ca  
$color-orange:#F68E56;
//xl
$color-green: #A3D39C; 
//xdt 
$color-blue: #6DCFF6;  
//xam
$color-gray: #EBEBEB; 