/* Header
------------------------------------------------------------*/
.c-header{
	&__logo{
		img{
			max-width: 250px;
		}
	}
	&__wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #A8A8A8;
		padding: 20px 0;
		margin-bottom: 27px;
	}
}
.c-gnav{
		li{
			display: inline-block;
			vertical-align: middle;
			&.is-current{
				a{
					text-shadow: 0 0 .5px #000, 0 0 .5px #000, 0 0 .5px #000; 
				}
			}
			&:last-child a{
				padding-right: 0;
			}
		}
		a{
			font-size: 1.4rem;
			padding: 0 14px;
			transition: text-shadow 0.01s;
			&:hover{
				text-shadow: 0 0 .5px #000, 0 0 .5px #000, 0 0 .5px #000; 
			}
		}
}
/* Main menu
------------------------------------------------------------*/
.c-gnavi{
}
